@font-face {
  font-family: "iconfont"; /* Project id 3987167 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1680180180843') format('woff2'),
       url('iconfont.woff?t=1680180180843') format('woff'),
       url('iconfont.ttf?t=1680180180843') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e600";
  font-size: 24px;
}

.icon-xiangsufeng_dayinji:before {
  content: "\e7cf";
}

.icon-xiangsufeng_dangao:before {
  content: "\e7d0";
}

.icon-xiangsufeng_dianshiji:before {
  content: "\e7d1";
}

.icon-xiangsufeng_huapen:before {
  content: "\e7d2";
}

.icon-xiangsufeng_xianhua:before {
  content: "\e7d4";
}

.icon-xiangsufeng_kejian:before {
  content: "\e7dc";
}

.icon-xiangsufeng_xiaoxi:before {
  content: "\e7dd";
}

.icon-xiangsufeng_dingwei:before {
  content: "\e7de";
}

.icon-xiangsufeng_shouyinji:before {
  content: "\e7df";
}

.icon-xiangsufeng_gouwu:before {
  content: "\e7e0";
}

.icon-xiangsufeng_laba:before {
  content: "\e7e1";
}

.icon-xiangsu:before {
  content: "\e60c";
}

.icon-xiangsufeng_fangzi:before {
  content: "\e7d3";
}

.icon-xiangsufeng_xunzhang:before {
  content: "\e7d5";
}

.icon-xiangsufeng_wenjianjia:before {
  content: "\e7d6";
}

.icon-xiangsufeng_huojian:before {
  content: "\e7d7";
}

.icon-xiangsufeng_shuji:before {
  content: "\e7d8";
}

.icon-xiangsufeng_feidie:before {
  content: "\e7d9";
}

.icon-xiangsufeng_xinfeng:before {
  content: "\e7da";
}

.icon-xiangsufeng_youxiang:before {
  content: "\e7db";
}

